* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(107.56deg, #190361 0%, #B700FB 100%, #BB00FF 100%);
    padding: 23.9rem 54.2rem 31.9rem;
    display: flex;
    justify-content: center;

     background: linear-gradient(45deg, #190361, #bb00ff);
	animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}

.hide {
    display: none;
}

main {
    background: #ffffff;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 80%);
    border-radius: .5rem;
    padding: 4.8rem 6.4rem;

    width: 42.8rem;

    display: flex;
    flex-direction: column;
    text-align: center;
}


/* screen 1 */
h1 {
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.screen1 p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
}

.screen1 img {
    margin-top: 2rem;
}

.screen1 img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

/* screen2 */

#displayPhrase {
    background: #E4EDF1;
    border-radius: .5rem;
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 80%);


    padding: 1rem;

    font-size: 2.4rem;
    font-family: 'Dancing Script', sans-serif;

    animation: appearMensage 1s forwards;
}

button {
    border: 0;
    border-radius: .4rem;
    background: #FF9500;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;

    padding: 1.6rem;

    cursor: pointer;
}

@keyframes  appearMensage{
    0% {
        transform: translateY(50px) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}